<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.ch1p.adobe-magic</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/mitmdump</string>
        <string>--mode</string>
        <string>socks5</string>
        <string>--listen-host</string>
        <string>127.0.0.1</string>
        <string>--listen-port</string>
        <string>56789</string>
        <string>-q</string>
        <string>-s</string>
        <string>/path/to/adobe-magic.py</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

  </dict>
</plist>
